{% extends "master.html" %}

{% block content %}
<div class="container">
  <h2>Agregar Departamento</h3>
  <form action="" method="post">
    {% csrf_token %}
    <div class='wrapper-dos-columnas'>
      <div class='row'>
        <div class='column'>
          <div class='izquierda-column'>
            <br>
            <div class="fieldWrapper">
              {{ formulario.propietario.errors }}
              <label for="{{ formulario.propietario.id_for_label }}">Ingrese el nombre del Propietario: </label>
              {{ formulario.propietario }}
            </div>
            <br>
            <br>
            {{ formulario.non_field_errors }}
            <div class="fieldWrapper">
              {{ formulario.costo.errors }}
              <label for="{{ formulario.costo.id_for_label }}">Ingrese el costo del departamento: </label>
              {{ formulario.costo }}
            </div>
            <br>
            <br>
          </div>
        </div>
        <div class='column'>
          <div class='derecha-column'>
            <br>
            <div class="fieldWrapper">
              {{ formulario.numCuartos.errors }}
              <label for="{{ formulario.numCuartos.id_for_label }}">Ingrese el número de cuartos: </label>
              {{ formulario.numCuartos }}
            </div>
            <br>
            <br>
            <div class="fieldWrapper">
              {{ formulario.edificio.errors }}
              <label for="{{ formulario.edificio.id_for_label }}">Elija el edificio correspondiente: </label>
              {{ formulario.edificio}}
            </div>
          </div>
          <br>
          <br>
          <div><input type='submit' value='Agregar' /></div>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}